<!DOCTYPE html>
<html>
<head>
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="menu">
        <h1>Menu Principal</h1>
        <a href="{{ url_for('cadastrar_tipo') }}" class="btn">Cadastrar Tipo de Produto</a>
        <a href="{{ url_for('cadastrar_produto') }}" class="btn">Cadastrar Produto</a>
        <a href="{{ url_for('listar_produtos') }}" class="btn">Listar Produtos</a>
        <a href="{{ url_for('listar_tipos') }}" class="btn">Listar Tipos</a>
    </div>
</body>
</html>
